{% import_yaml 'glance/defaults_server.yaml' as server %}

{% set os_server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['glance', 'glance-api', 'glance-registry', 'glance-common', 'python-glance', 'python-glance-store', 'python-glanceclient', 'python-memcache', 'python-openstackclient'],
        'services': ['glance-api', 'glance-registry'],
        'notification': False,
        'group': {
          'name': 'glance',
          'gid': '302',
        },
        'user': {
          'name': 'glance',
          'uid': '302',
          'home': '/var/lib/glance',
          'shell': '/bin/false',
          'fullname': 'OpenStack Glance Daemons',
        },
    },
    'RedHat': {
        'pkgs': ['openstack-glance', 'python-glanceclient', 'python-memcached', 'python-openstackclient'],
        'services': ['openstack-glance-api', 'openstack-glance-registry'],
        'notification': False,
        'group': {
          'name': 'glance',
          'gid': '161',
        },
        'user': {
          'name': 'glance',
          'uid': '161',
          'home': '/var/lib/glance',
          'shell': '/sbin/nologin',
          'fullname': 'OpenStack Glance Daemons',
        },
    },
}, merge=salt['pillar.get']('glance:server')) %}

{% do server.update(os_server) %}
